{% layout 'theme' %}
<section class="page-width section">
  <div class="rich-text">
    <h1 class="rich-text__heading">{{ shop.name }}</h1>
    <div class="rich-text__text">
      <p>Your storefront is almost ready. Update this homepage template to start sharing your products.</p>
    </div>
  </div>
</section>
